/* ALL */
* {
  font-family: "Jost", sans-serif;
}

.container {
  box-sizing: border-box;
  width: 85%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

/* 강수경 */

/* 박예진 */

/* 임가현 */

/* 임채은 */

/* 조석현 */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  color: #444444;
}

.info-container {
  width: 40%;
  padding: 0 0.5rem;
}

.info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;

  background: #fff;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}

#contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

#contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.personal-container {
  width: 56%;
  padding: 0 0.5rem;
}

.php-email-form {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

.php-email-form .flex {
  justify-content: center;
}

.name-container {
  width: 45%;
  margin-bottom: 20px;
  padding: 0 0.2rem 8px 0.2rem;
}

.name-container input {
  padding: 6px 12px;
  font-size: 14px;
}

.email-container {
  width: 45%;
  margin-bottom: 20px;
  padding: 0 0.2rem 8px 0.2rem;
}

.email-container input {
  padding: 6px 12px;
  font-size: 14px;
}

.subject-container {
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.subject-container input {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
}

.message-container {
  margin-bottom: 20px;
  padding-bottom: 8px;
}

textarea {
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
}

textarea.message {
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
}

.process-container {
  display: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-container {
  text-align: center;
}

.php-email-form button[type="submit"] {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.personal-container label {
  padding-bottom: 8px;
  display: inline-block;
}

footer {
  background-color: #37517e;
}
